* {
    box-sizing: border-box;
}

.creedBtn {
    outline: none;
    border: 2px solid $grey-dark;
    background: none;
    font-family: $font-style-4;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 4px 30px;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
    &:hover,
    &:focus {
        border-color: $red;
    }
    &.creedRedBtn {
        background-color: $red;
        color: $white;
        font-weight: bold;
        border-color: $red;
        margin-right: 2rem;
        &:hover,
        &:focus {
            border-color: $red-hover;
            background: $red-hover;
        }
        &:disabled {
            border-color: $grey-medium;
            background: $grey-medium;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .creedBtn {
        font-size: 1.05rem;
        &.creedRedBtn {
            margin-right: 1.6rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .creedBtn {
        font-size: 1rem;
        &.creedRedBtn {
            margin-right: 1.2rem;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.center-container {
    width: auto;
    height: auto;
    margin-left: 11vw;
    margin-right: 11vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bottom-border-box {
    border-style: none none solid none;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 1px;
}

.navbar-links1 {
    color: $black;
    -webkit-appearance: none;
    text-decoration: none;
    font-style: normal;
    font-family: $font-style-2;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid red;
    padding: 0px 0px;
    outline: 0;
    background-color: #ffffff;
    &:hover {
        color: $grey-dark;
    }
}

.navbar-links {
    -webkit-appearance: none;
    color: $black;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-family: $font-style-2;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    color: $black;
    padding: 0px 0px 8px 0px;
    border-bottom: 2px solid $white;
    &:hover {
        color: $grey-dark;
    }
}

.navbar-links1 {
    border-bottom: 2px solid red;
    outline: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.content-box {
    box-sizing: content-box;
}

.Button1 {
    -webkit-appearance: none;
    height: 5vh;
    width: 335px;
    left: 97px;
    top: 3277px;
    border: none;
    border-radius: 4px;
    background: $red;
    color: $white;
    font-weight: 500;
    font-size: 25px;
    font-family: $font-style-2;
    font-style: normal;
}

.Button2 {
    -webkit-appearance: none;
    height: 55px;
    width: 240px;
    left: 1064px;
    top: 433px;
    border-radius: 4px;
    background: $red;
    color: $white;
    font-weight: 500;
    // font-size: 25px;
    font-family: $font-style-2;
}

.Button3 {
    -webkit-appearance: none;
    height: 40px;
    width: 139px;
    left: 97px;
    top: 3430px;
    border: none;
    border-radius: 4px;
    background: $red;
    color: $white;
    font-weight: 500;
    font-size: 15px;
    font-family: $font-style-2;
    cursor: pointer;
}

.Button4 {
    -webkit-appearance: none;
    height: 40px;
    width: 103px;
    left: 97px;
    top: 3495px;
    border-radius: 4px;
    background: $red;
    color: $white;
    font-weight: 500;
    font-family: $font-style-2;
}

.DarkGaryLine {
    color: $grey-dark;
    height: 5%;
    width: 100%;
    opacity: 35%;
}

.icon-hover,
button {
    &:hover {
        cursor: pointer;
    }
}

input {
    border-radius: 0;
}