@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@350&display=swap');
$font-style-1: 'Open Sans',
sans-serif;
$font-style-2: 'Cera Pro',
sans-serif;
$font-style-3: 'Oxygen Light';
$font-style-4: 'Cera Pro Light',
sans-serif;
$white: #ffffff;
$black: #000000;
$red: #d81307;
$red-hover: #b80900;
$grey-light: #f0f0f0;
$grey-medium: #c1c1c1;
$grey-dark: #828282;
$writer-grey: #f8f8f8;
$hover-color: #00000010;
$hover-opaque: #fafafa;